@import 'index'

.alert
  position fixed
  display flex
  top 0
  left 0
  width 100%
  height 100%
  background-color $white60
  color: $text_white
  z-index: 1000
  align-items center
  justify-content center

  &__body
    display flex
    flex-direction column
    align-items center
    justify-content space-evenly
    background-color $grey
    box-shadow 0 0 .6em .4em $black30
    width 18em
    height 12em
    border-radius 2em

    &__title
      width 100%
      padding .5em 1em
      text-align center
      font-size 1.4em

    &__msg
      width 100%
      padding .2em 1em
      text-align center
      font-size 1em
      color $grey

    &__buttons
      width 100%
      display flex
      align-items center
      justify-content space-evenly
      padding .6em 1em
      font-size 1.2em

      ok_cancel()

  button
    display flex
    align-items center
    justify-content space-evenly
    padding .2em 1em