
.contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1em;
    gap: 1em;
}

.contents .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 90%;
    padding: 1em 1em;
    border-radius: 1em;
    box-shadow: 0 0 .5em .2em rgba(255, 255, 255, 0.2);
    background-color: #18181b;
}

.contents .title {
    width: 70%;
    line-height: 1.2em;
    text-align: justify;
    word-break: break-word;
    color: #fafafa;
}

.contents .done_text {
    color: #6b7280;
    text-decoration: line-through white;
}