@import "index"

.header
  display flex
  width 100%
  align-items center
  justify-content center
  padding .5em 0
  box-sizing inherit

  &__button
    &__left
      color $blue
      border-color $blue

      &__icon
        color $blue


    &__right
      color $blue
      border-color $blue

      &__icon
        color $blue


  &__today
    min-width: 100px;
    width 30%
    background-color transparent
    font-size 1.2em
    border none
    outline-style none
    line-height normal
    color $white
    border-color darkgray
    color-scheme dark
    text-align center
    margin 0 1em


