@import "index"

.input
  display flex
  flex-direction row
  width 100%
  align-items flex-end
  justify-content space-evenly

  &__input_box
    position relative
    width 60%
    display flex
    justify-content space-between

    &__todo
      width 50%
      font-size 1em
      background-color transparent
      border-width 0 0 4px
      outline-style none
      line-height normal
      padding .4em .4em
      color $white
      border-color darkgray

      &:focus
        border-color $blue

    &__todo_date
      width 40%
      font-size 1em
      background-color transparent
      border-width 0 0 4px
      border-color darkgray
      outline-style none
      line-height normal
      color $white
      color-scheme dark
      text-align center

      &:focus
        border-color $blue

  &__button
    &__delete_all
      color: $red100;
      border-color: $red100;
      padding: .2em .5em;

      &:hover
        border-color: $red;
        color: $red;


