.alert
  position fixed
  display flex
  top 0
  left 0
  width 100%
  height 100%
  background-color $white60
  color: $white
  z-index: 1000
  align-items center
  justify-content center


  &__body
    display flex
    flex-direction column
    align-items center
    justify-content space-evenly
    background-color $grey
    box-shadow 0 0 .6em .4em $black30
    padding_flex(1, 1)
    width_flex(90)
    min-height 12em
    border-radius 2em

    &__title
      width 100%
      padding 1em 1em
      text-align center
      font_size(3)

    &__msg
      width 100%
      font_size(2.4)
      padding .2em 1em
      text-align center
      font-size 1em
      color $grey

    &__buttons
      font_size(2.4)
      width 100%
      display flex
      align-items center
      justify-content space-evenly
      padding .6em 1em
      font-size 1.2em

      ok_cancel()

  button
    display flex
    align-items center
    justify-content space-evenly
    padding .2em 1em