@import 'main'
on-color(color)
  border-color color
  color color

.contents
  display flex
  flex-direction column
  width 100%
  align-items center
  justify-content space-evenly
  gap 1em
  padding 2em 0
  box-sizing border-box


.content
  font_size()
  display flex
  flex-direction row
  align-items center
  justify-content space-between
  width 100%
  box-sizing border-box
  padding 1em 1em
  border-radius 1em
  box-shadow 0 0 .5em .2em $black30
  background-color $black100

  .done_text
    text-align justify
    word-break break-word
    color $grey100

    text-decoration line-through white

  &__checkbox
    padding 0
    border none

    &__empty
      color $white

      &:hover
        on-color($blue)

    &__done
      border none
      on-color($blue)

      &:hover
        on-color($white)


  &__title
    max-width 65%
    line-height 1.2em
    text-align justify
    word-break break-word
    color: $white

  &__archive
    &__date
      max-width 15%
      line-height 1.2em
      text-align justify
      word-break break-word
      color: $white

    &__title
      width 45%
      line-height 1.2em
      text-align justify
      word-break break-word
      color: $white

  &__buttons
    justify-content space-between
    display inherit
    flex-direction row
    gap .5em

  &__button
    &__edit
      padding .2em .2em

    &__return
      padding .2em .2em

    &__archive
      padding .2em .2em

    &__delete
      padding .2em .2em
      on-color($red100)

      &:hover
        on-color($red)

