on-color(color)
  border-color color
  color color

.contents
  display flex
  flex-direction column
  width 100%
  align-items center
  justify-content space-evenly
  padding 2em 0
  box-sizing border-box


.content
  font_size()
  position relative
  display flex
  flex-direction column
  align-items center
  justify-content flex-start
  width 100%
  height fit-content
  border-radius 1em
  box-shadow 0 0 .1em .1em $black30
  background-color $black100
  overflow hidden
  isolation isolate
  margin .3em 0
  -webkit-overflow-scrolling touch
  -webkit-backface-visibility hidden

  &__return
    position absolute
    left 0
    top 0
    height 0
    width 100%
    background-color $grey30
    align-items center
    justify-content center
    display flex
    opacity 0

    &__button
      font_size(2.4)
      color $white
      display flex
      align-items center
      justify-content center
      gap .4em
      cursor pointer

      &:hover
        color $green

  &__comment
    width 100%
    text-overflow ellipsis
    box-shadow 0 0 .1em .1em $black30
    background-color $black100
    border-radius .8em
    box-sizing border-box
    overflow hidden
    margin .25em 0

    &__info
      display flex
      align-items center
      justify-content space-between
      width 100%
      box-sizing border-box
      background-color $grey
      padding .5em 1em
      font_size(0.8)

      &__buttons
        display flex
        gap .5em

        &__reply,
        &__fix,
        &__delete
          cursor pointer

        &__delete:hover
          color $red


    &__body
      padding 1em 1em
      display flex
      align-items center
      justify-content space-between
      gap 1em

      &__user
        cursor pointer
        width 20%
        font-weight 600

        &:hover
          color $green

      &__fix
        flex-grow 1

        &__form
          width 100%
          display flex
          align-items center
          justify-content space-between
          background-color $grey
          padding .2em .4em
          box-sizing border-box
          border-radius 1em

          &__main
            width 70%
            font-size .6em
            color $red100
            background-color transparent
            border none
            outline none

          &__submit
            padding none
            font-size .6em
            color $green
            background-color transparent
            border none

      &__text
        font-size .8em
        box-sizing border-box
        padding 0 .5em
        flex-grow 1

      &__plus
        cursor pointer
        overflow hidden
        text-overflow ellipsis
        text-wrap avoid
        max-width 10%

        &:hover
          color $green

  &__comments
    display flex
    align-items flex-start
    justify-content center
    width 100%
    height fit-content
    box-sizing border-box
    background-color $grey
    transition: all .6s ease-in-out;

    &::-webkit-scrollbar
      width .4em
      background $grey

      &-track
        background-color $grey

      &-thumb
        background-color $black

    &__all
      width 100%
      padding 0 .2em
      overflow: hidden;
      transition all .5s ease-in-out

      &__body
        width 100%
        box-sizing border-box
        display flex
        flex-direction column
        align-items center
        justify-content center
        height auto

      &__next
        cursor pointer
        width 100%
        margin .25em 0
        padding .5em 1em
        text-overflow ellipsis
        box-shadow 0 0 .1em .1em $black30
        background-color $grey
        border-radius 1em
        box-sizing border-box
        overflow hidden
        text-align center
        font-weight 600

    &[status="before"]
      padding 0 .5em
      max-height 0
      overflow: hidden;

    &[status="after"]
      padding-left .5em
      padding-right .5em
      padding-bottom .5em
      max-height 80vh
      overflow auto


  &__info
    display flex
    align-items center
    justify-content space-between
    width 100%
    box-sizing border-box
    background-color $grey
    padding .5em 1em

    &__input
      padding .3em .4em
      box-sizing border-box
      border-radius .5em
      box-shadow 0 0 .1em .1em $black30
      background-color $black100
      width 50%
      display flex
      justify-content space-between
      align-items center


      &__text
        width 80%
        border none
        background-color transparent
        outline-style none
        color $white
        font-size .8em

      &__submit
        border none
        color $green
        font-size .8em

    &__comment
      gap .2em
      display flex
      cursor pointer
      max-width: 20%
      justify-content flex-end
      align-items center

      &__count
        max-width 60%
        overflow hidden
        text-overflow ellipsis
        text-wrap avoid

      &__full:hover
        on-color($green)
        animation tada
        animation-duration 2s


    &__heart
      gap .2em
      display flex
      cursor pointer
      max-width: 20%
      justify-content flex-start
      overflow hidden
      align-items center

      &__count
        max-width 60%
        overflow hidden
        text-overflow ellipsis
        text-wrap avoid

      &:hover
        on-color($white)

      &__empty
        color $white

        &:hover
          on-color($red)
          animation tada
          animation-duration 2s

      &__full
        on-color($red)

        &:hover
          animation tada
          animation-duration 2s

  &__body
    display flex
    align-items center
    justify-content space-between
    width 100%
    box-sizing border-box
    padding 1em 1em
    gap 1em

  .done_text
    text-align justify
    word-break break-word
    color $grey100
    text-decoration line-through white

  &__checkbox
    cursor pointer
    padding 0
    border none

    &__empty
      color $white

      &:hover
        on-color($blue)

    &__done
      on-color($blue)

      &:hover
        on-color($white)


  &__title
    max-width 65%
    line-height 1.2em
    text-align justify
    word-break break-word
    color: $white
    box-sizing border-box
    padding 0 .5em

  &__archive
    &__date
      max-width 30%
      line-height 1.2em
      text-align justify
      word-break break-word
      color: $white

    &__title
      width 45%
      line-height 1.2em
      text-align justify
      word-break break-word
      color: $white

  &__buttons
    justify-content space-between
    display inherit
    flex-direction row
    gap .5em

  &__button
    &__edit
      cursor pointer
      padding .2em .2em

    &__return
      cursor pointer
      padding .2em .2em

    &__archive
      cursor pointer
      padding .2em .2em

    &__delete
      cursor pointer
      padding .2em .2em
      on-color($red100)

      &:hover
        on-color($red)

