ok_cancel,
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #171717;
  color: #f9fafb;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
ok_cancel svg,
html svg,
body svg {
  color: #f9fafb;
}
ok_cancel span,
html span,
body span {
  vertical-align: middle;
}
ok_cancel button,
html button,
body button {
  background-color: transparent;
  color: #f9fafb;
  border-width: 0 0 4px;
  border-color: #a9a9a9;
  font-size: 1em;
  padding: 0.2em 0.2em;
}
ok_cancel button:hover,
html button:hover,
body button:hover {
  border-color: #0891b2;
  color: #0891b2;
}
ok_cancel .ghost,
html .ghost,
body .ghost {
  opacity: 0;
}
ok_cancel .active,
html .active,
body .active {
  opacity: 1;
  transition: 0.3s;
}
ok_cancel .container,
html .container,
body .container {
  flex: 1;
  max-width: 800px;
  min-width: 500px;
  padding: 2em;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  box-sizing: inherit;
}
.header__button__left {
  color: #0891b2;
  border-color: #0891b2;
}
.header__button__left__icon {
  color: #0891b2;
}
.header__button__right {
  color: #0891b2;
  border-color: #0891b2;
}
.header__button__right__icon {
  color: #0891b2;
}
.header__today {
  min-width: 100px;
  width: 30%;
  background-color: transparent;
  font-size: 1.2em;
  border: none;
  outline-style: none;
  line-height: normal;
  color: #f9fafb;
  border-color: #a9a9a9;
  color-scheme: dark;
  text-align: center;
  margin: 0 1em;
}
