@import 'main'
.header
  display flex
  width 100%
  align-items center
  justify-content center
  padding .5em 0
  box-sizing inherit

  &__button

    &__left
      font-size 1.4em
      border none
      border-color $blue

      &__icon
        color $white

        &:hover
          color $blue


    &__right
      font-size 1.4em
      border none
      border-color $blue

      &__icon
        color $white

        &:hover
          color $blue


  &__today
    min-width: 100px;
    width 30%
    background-color transparent
    font-size 1.4em
    border none
    outline-style none
    line-height normal
    color $white
    border-color darkgray
    color-scheme dark
    text-align center
    margin 0 1em


