.header
  display flex
  width 100%
  align-items center
  justify-content center
  padding_flex(2)
  box-sizing inherit

  &__button

    &__left
      border none
      border-color $blue

      &__icon
        font_size(3.4)
        color $white

        &:hover
          color $blue


    &__right
      border none
      border-color $blue

      &__icon
        font_size(3.4)
        color $white

        &:hover
          color $blue


  &__today
    width 50%
    background-color transparent
    font_size(3.4)
    border none
    outline-style none
    line-height normal
    color $white
    border-color darkgray
    color-scheme dark
    text-align center
    margin 0 1em


