ok_cancel,
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #171717;
  color: #f9fafb;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
ok_cancel svg,
html svg,
body svg {
  color: #f9fafb;
}
ok_cancel span,
html span,
body span {
  vertical-align: middle;
}
ok_cancel button,
html button,
body button {
  background-color: transparent;
  color: #f9fafb;
  border-width: 0 0 4px;
  border-color: #a9a9a9;
  font-size: 1em;
  padding: 0.2em 0.2em;
}
ok_cancel button:hover,
html button:hover,
body button:hover {
  border-color: #0891b2;
  color: #0891b2;
}
ok_cancel .ghost,
html .ghost,
body .ghost {
  opacity: 0;
}
ok_cancel .active,
html .active,
body .active {
  opacity: 1;
  transition: 0.3s;
}
ok_cancel .container,
html .container,
body .container {
  flex: 1;
  max-width: 800px;
  min-width: 500px;
  padding: 2em;
  align-items: center;
  justify-content: center;
}
.input {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 0.5em 0;
}
.input__input_box {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.input__input_box__todo {
  width: 60%;
  font-size: 1em;
  background-color: transparent;
  border-width: 0 0 4px;
  outline-style: none;
  line-height: normal;
  padding: 0.4em 0.4em;
  color: #f9fafb;
  border-color: #a9a9a9;
}
.input__input_box__todo:focus {
  border-color: #0891b2;
}
.input__input_box__todo_date {
  width: 30%;
  font-size: 1em;
  background-color: transparent;
  border-width: 0 0 4px;
  border-color: #a9a9a9;
  outline-style: none;
  line-height: normal;
  color: #f9fafb;
  color-scheme: dark;
  text-align: center;
}
.input__input_box__todo_date:focus {
  border-color: #0891b2;
}
.input__button__delete_all {
  padding: 0.2em 0.5em;
  color: #fca5a5;
  border-color: #fca5a5;
  padding: 0.2em 0.5em;
}
.input__button__delete_all:hover {
  border-color: #b91c1c;
  color: #b91c1c;
}
