.bg_dark
  position fixed
  display flex
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.6)
  color white
  z-index 1000
  align-items center
  justify-content center

.login, .reg
  display flex
  flex-direction: column;
  align-items center
  justify-content space-evenly
  background-color $grey
  box-shadow 0 0 .6em .4em $black30
  border-radius 2em
  max-width 800px
  box-sizing border-box
  padding_flex(0, 1)
  width_flex(90)

  &__title
    padding .5em 0
    font_size(3)
    font-weight 600

  &__rows
    width 100%
    display flex
    flex-direction column
    align-items center
    justify-items space-evenly

  &__button
    font-weight 600

    &__ok
      padding .2em .2em
      color $white
      border-color $green

      &:hover
        color $green100
        border-color $green100

    &__login
      padding .2em .2em
      color $white
      border-color $green

      &:hover
        color $green100
        border-color $green100

    &__reg
      padding .2em .2em
      color $white
      border-color $blue

      &:hover
        color $blue
        border-color $blue

    &__find
      padding .2em .2em
      color $white
      border-color $blue

      &:hover
        color $blue
        border-color $blue

    &__cancel
      padding .2em .2em
      color $white
      border-color $red

      &:hover
        color $red
        border-color $red

  &__buttons
    font_size(1.6)
    display flex
    flex-direction row
    width 100%
    padding 2em 0
    box-sizing border-box
    align-items center
    justify-content space-evenly

    input
      font-size 1.4em
      font-weight 600
      padding .2em .2em

    button
      font-size 1.4em
      font-weight 600

  &__row
    display flex
    flex-direction column

    @media $tablet
      flex-direction row

    width 100%
    min-height 3em
    box-sizing border-box
    padding .5em 2em
    align-items center
    justify-content space-between

    input[type="checkbox"]
      width 1em
      height 1em

    &__key
      text-align center
      font_size(2.4)
      padding .5em

    &__text
      border-radius 1em
      margin 1em 0
      padding 1em
      background-color $grey100
      text-align left
      font_size(2)
      color $grey

    &__value
      width 100%

      @media $tablet
        width 70%

      @media $desktop
        width 60%

      font_size(2)
      outline-style none
      border none
      border-radius 1em
      padding .5em .8em
      color $white
      color-scheme: dark
      resize none