.comment
  display flex
  flex-direction column
  align-items center
  justify-content space-evenly
  background-color $grey
  box-shadow 0 0 .1em .1em $black30
  width_flex(96)
  font_size(2)
  border-radius 1em
  padding 1em 1em
  gap 1em

  &__top_bar
    display flex
    width 100%
    padding 0 1em
    gap .5em

    &__close
      font-size 1.2em
      font-weight 600
      cursor pointer


  &__origin
    width 100%
    text-overflow ellipsis
    box-shadow 0 0 .1em .1em $black30
    background-color $black100
    border-radius .8em
    box-sizing border-box
    overflow hidden

    &__info
      display flex
      align-items center
      justify-content space-between
      width 100%
      box-sizing border-box
      background-color $grey
      padding .5em 1em
      font_size(1)


      &__buttons
        display flex
        gap .5em

        &__reply,
        &__fix,
        &__delete
          cursor pointer

        &__delete:hover
          color $red

    &__body
      padding 1em 1em
      display flex
      align-items center
      justify-content flex-start
      gap 1em

      &__user
        cursor pointer
        min-width 20%
        max-width 30%
        font-weight 600

        &:hover
          color $green

      &__fix
        width 66%

        &__form
          width 100%
          display flex
          align-items center
          justify-content space-between
          background-color $grey
          padding .2em .4em
          box-sizing border-box
          border-radius 1em

          &__main
            width 70%
            font-size .6em
            color $red100
            background-color transparent
            border none
            outline none

          &__submit
            padding none
            font-size .6em
            color $green
            background-color transparent
            border none

      &__text
        max-width 66%
        font-size .8em
        box-sizing border-box

  &__input
    padding .3em .5em
    box-sizing border-box
    border-radius .5em
    box-shadow 0 0 .1em .1em $black30
    background-color $black100
    width 100%
    display flex
    justify-content space-between
    align-items center


    &__text
      width 80%
      border none
      background-color transparent
      outline-style none
      color $white
      font-size .8em

    &__submit
      border none
      color $green
      font-size .8em

  &__replys
    box-sizing border-box
    width 100%
    transition: all 1s ease-in-out;
    overflow-x hidden

    &::-webkit-scrollbar
      width .4em
      background $grey

      &-track
        background-color $grey

      &-thumb
        background-color $black
        border-radius 1em

    &[status="empty"]
      max-height 0

    &[status="full"]
      padding .2em .5em
      max-height 40vh
      overflow-y auto

    &__all
      display flex
      flex-direction column
      width 100%
      gap .8em

      &__next
        cursor pointer
        width 100%
        margin-top 1em
        padding .5em 1em
        text-overflow ellipsis
        box-shadow 0 0 .1em .1em $black30
        background-color $grey
        border-radius 1em
        box-sizing border-box
        overflow hidden
        text-align center
        font-weight 600

    &__reply
      width 100%
      display flex
      flex-direction column
      align-items center
      justify-content flex-start
      box-shadow 0 0 .1em .1em $black30
      background-color $grey
      border-radius .8em
      box-sizing border-box
      overflow hidden

      &__buttons
        display flex
        align-items center
        justify-content flex-end
        width 100%
        box-sizing border-box
        background-color $black
        padding .5em 1em
        font_size(1)
        gap .5em

        &__fix,
        &__delete
          cursor pointer

        &__delete:hover
          color $red

      &__body
        padding .5em .5em
        display flex
        width 100%
        align-items center
        justify-content flex-start
        box-sizing border-box

        &__user
          cursor pointer
          width 15%
          padding 0 .5em
          font-weight 600
          font-size .8em

          &:hover
            color $green

        &__text
          width 75%
          overflow auto
          text-wrap inherit
          box-sizing border-box
          font-size .6em
          padding 0 .5em

        &__fix
          width 75%

          &__form
            width 100%
            display flex
            align-items center
            justify-content space-between
            background-color $black
            border-radius 1em
            box-sizing border-box
            padding .2em .4em

            &__main
              width 80%
              font-size .6em
              color $red100
              background-color transparent
              border none
              outline none

            &__submit
              padding none
              font-size .6em
              color $green
              background-color transparent
              border none