<!DOCTYPE html>
<html lang='kr'>
<head>
    <meta charset="UTF-8">
    <title>TODOS</title>
    <meta name="theme-color" content="#6b7280">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-status-bar-style" content="#6b7280">
    <meta name="theme-color" content="black">
    <link id="favicon" rel="shortcut icon" type="image/png"
          href='/todo/static/favicon.png' />
    <link rel="manifest" href='/todo/static/manifest.json' />
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
    <link
            type='text/css'
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
            type='text/css'
            rel='stylesheet'
            href='/dist/app.bundle.css'>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>
<script type="module" src='/dist/app.bundle.js'></script>
<div class='container_404'>
    <h1>죄송합니다</h1>
    <h2>점검 중 입니다</h2>
</div>
</body>
</html>
