svg {
    color: white;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: #171717;
    color: #f9fafb;
    display: flex;
    justify-content: center;
}

span {
    vertical-align: middle;
}

.ghost {
    opacity: 0;
}

.active {
    opacity: 1;
    transition: 0.3s;
}

.container {
    flex: 1;
    max-width: 800px;
    padding: 2em;
    align-items: center;
    justify-content: center;
}

.top_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: end;
    justify-content: space-evenly;
}

.input_box {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-between;
}


.input_box input[class="todo"] {
    width: 50%;
    font-size: 1em;
    background-color: transparent;
    border-width: 0 0 4px;
    outline-style: none;
    line-height: normal;
    padding: .4em .4em;
    color: #f9fafb;
    -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
    border-color: darkgray;
}

.input_box input[class="todo_date"] {
    width: 40%;
    font-size: 1em;
    background-color: transparent;
    border-width: 0 0 4px;
    border-color: darkgray;
    outline-style: none;
    line-height: normal;
    color: #f9fafb;
    color-scheme: dark;
    text-align: center;
}

.input_box input[class="todo"]:focus,
.input_box input[class="todo_date"]:focus {
    border-color: #0891b2;
}


.button:hover {
    border-color: #0891b2;
    color: #0891b2;
}

button {
    background-color: transparent;
    color: #f9fafb;
    border-width: 0 0 4px;
    border-color: darkgray;
    font-size: 1em;
    padding: .2em .2em;
}

.delete {
    color: #fca5a5;
    border-color: #fca5a5;
    padding: .2em .5em;
}

.delete:hover {
    border-color: #b91c1c;
    color: #b91c1c;
}

.edit {
    padding: .2em .5em;
}


.done {
    border-width: 0 0;
    border-color: #0891b2;
    color: #0891b2;
}

.done:hover {
    color: #f9fafb;
    border-color: darkgray;
}

.empty {
    border-width: 0 0;
    color: #f9fafb;
    border-color: darkgray;
}

.empty:hover {
    border-color: #0891b2;
    color: #0891b2;
}

.contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1em;
    gap: 1em;
}

.contents .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 90%;
    padding: 1em 1em;
    border-radius: 1em;
    box-shadow: 0 0 .5em .2em rgba(255, 255, 255, 0.2);
    background-color: #18181b;
}

.contents .title {
    width: 70%;
    line-height: 1.2em;
    text-align: justify;
    word-break: break-word;
    color: #fafafa;
}

.contents .done_text {
    color: #6b7280;
    text-decoration: line-through white;
}

.alert {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.alert .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #27272a;
    box-shadow: 0 0 .6em .4em rgba(255, 255, 255, 0.3);
    width: 18em;
    height: 12em;
    border-radius: 2em;
}

.alert .title {
    width: 100%;
    padding: 0.5em 1em;
    text-align: center;
    font-size: 1.4em;
}

.alert .msg {
    width: 100%;
    padding: 0.2em 1em;
    text-align: center;
    font-size: 1em;
    color: #e7e5e4;
}

.alert .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .6em 1em;
    font-size: 1.2em;
}

.alert button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.2em 1em;
    font-size: 1em;
}

.ok {
    color: #f9fafb;
    border-color: #4ade80;
}

.ok:hover {
    color: #22c55e;
    border-color: #22c55e;
}

.cancel {
    color: #f9fafb;
    border-color: #f87171;
}

.cancel:hover {
    color: #ef4444;
    border-color: #ef4444;
}

